:root {
    --blanco: rgb(224, 224, 224);
    --dorado: #dabb9b;
    --marron: #281d1ad5;
    --rojo: #793933ff;
    --azul: #3f4e5cff;
    --celeste: #afdedcff;
    --negro: #2f2f2fff;
    font-family: 'EB Garamond', serif;
}

.map_characters {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
    justify-content: center;
    margin: 0 auto;
    height: 1200px;
    overflow-x: auto;
    margin: 2rem auto;
}

.card {
    background-color: var(--negro);
    display: flex;
    min-width: 230px;
    height: 420px;
    flex-direction: column;
    border: var(--dorado) 3px solid;
    transition: transform 0.4s;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    border-bottom: var(--dorado) 3px solid;
    height: 310px;
    width: 100%;
    object-fit: cover;
    size: cover;
}

.testimonials__hover {
    position: relative;
    bottom: -115px;
    z-index: -1;
    transition: all 0.6s;
}

.card:hover .testimonials__hover {
    display: block;
    position: relative;
    padding: 1rem 0;
    bottom: 0;
}

.resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.resultado>.presentacion>.testimonials__info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.resultado>.presentacion>.testimonials__info>h3 {
    font-size: 2.2rem;
}

.resultado>.presentacion>.testimonials__info>h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

.resultado>.presentacion>.testimonials__info>h5 {
    font-size: 1rem;
    font-weight: 400;
}

.presentacion {
    width: 520px;
    height: 420px;
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    border: var(--dorado) 3px solid;
    overflow: hidden;
    transition: transform 0.6s;
}

.presentacion img {
    border-bottom: var(--dorado) 3px solid;
    height: 310px;
    width: 100%;
    object-fit: cover;
    size: cover;
}

.presentacion:hover {
    transform: scale(1.1);
}

.presentacion img {
    border-bottom: var(--dorado) 3px solid;
    height: 310px;
    width: 100%;
    object-fit: cover;
    size: cover;
}

.testimonials__hover {
    position: relative;
    bottom: -115px;
    z-index: -1;
    transition: all 0.6s;
}

.presentacion:hover .testimonials__hover {
    display: block;
    position: relative;
    padding: 1rem 0;
    bottom: 0;
}