* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blanco: #f0f7eeff;
    --dorado: #E1B35E;
    --dorado-transparente: #e1b35e93;
    --marron: #8f6f50ff;
    --rojo: #793933ff;
    --azul: #3f4e5cff;
    --celeste: #afdedcff;
    --negro: #2f2f2fff;
    --negro-header: rgba(47, 47, 47, 0.8);
    font-family: 'EB Garamond', serif;
    background-color: var(--azul);
}

.header {
    color: var(--blanco);
    background-color: red;
    background-image: url(../assets/Places/main.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: inset 0 -60px 40px -10px rgba(0, 0, 0, 1);
}

.nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--negro-header);
}

.frase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dorado-transparente);
    width: 80%;
    height: 150px;
    padding: 1rem;
    align-items: end;
}

.frase h3 {
    width: 100%;
}

.caja {
    background-color: black;
    width: 100%;
    height: 10vh;
    box-shadow: 0 50px 10px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja a {
    margin: 0 auto;
    border: 2px var(--dorado) solid;
    font-size: 1.8rem;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: var(--marron);
    text-decoration: none;
    color: var(--blanco);
    transition: transform 0.4s,background-color 0.2s;
}
.caja a:hover{
    background-color: var(--negro);
    transform:scale(1.05)
}

.cena {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Places/cena.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    margin: 20px 0 0 0;
    box-shadow: inset 0 -60px 40px -10px rgba(0, 0, 0, 1),
        /* Sombra inferior */
        inset 0 60px 40px -10px rgba(0, 0, 0, 1);
    /* Sombra superior */
}